/rsconnect/
.Rproj.user
/Terre di Pedemonte/smarth2o_anonymized_consumptions.csv
/Terre di Pedemonte/smarth2o_anonymized_households.csv
/Valencia/smarth2o_anonymized_consumptions.csv
/Valencia/smarth2o_anonymized_households.csv
/clean_data/
